# Use for spiders
GITHUB_ADVISORY_API_TOKEN=
BLOGSPOT_API_TOKEN=
YOUTUBE_API_TOKEN=
# FORMAT: client_id|client_secret
SPOTIFY_API_TOKEN=
HACKERONE_API_TOKEN=
# FORMAT: username|password|2fa token
BUGCROWD_AUTH = 

# Error logging
SENTRY_DSN=

# Storage
MONGODB_URL=